<!DOCTYPE html>
<html lang="en">
	<head>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<title>Random Art</title>
			<link rel="stylesheet" type="text/css" href="styles.css">
			<link rel="icon" type="image" href="/images/logo.jpg">
	</head>
	<body>
		<main>
			<div class="art">
				<img src="<%= artImage %>">
			</div>
			<div class="info">
				<%= title %>
				<%= artist %>
				<%= artDate %>
				<%= artCountry %>
				<a><%= artLink %></a>
			</div>
			<div class="newArt">

			</div>
		</main>
	</body>
</html>