<!DOCTYPE html>
<html lang="en">
	<head>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<title>Random Art</title>
			<link rel="stylesheet" type="text/css" href="styles.css">
			<link rel="icon" type="image" href="/images/logo.jpg">
	</head>
	<body>
		<main class="container">
			<img src="<%= artImageSmall %>" id="background-image" alt="Random Background Image">
			<div class="art-card">
				<img src="<%= artImage %>" alt="Random MET art" draggable=true>
			</div>
			<div class="description-card">
				<h3><%= title %></h3>
				<p><%= artist %></p>
				<p><%= artDate %></p>
				<p><%= artCountry %></p>
				<a><%= artLink %></a>
			</div>
			<div class="newArt">

			</div>
		</main>
	</body>
</html>